body {
  background-image: url('../image/paper.gif');
  background-color: #f8f8ff;
  font-family: 'Cabin', sans-serif;
}
article {
  width: 80vw;
}
nav {
  /* background-color: #7fffd4; */
  text-align: center;
  font-size: 20pt;
}
a:visited {
  color: #cd853f;
}
.center {
  text-align: center;
}
.footer__socials {
  text-align: center;
  font-size: 25pt;
}
.home__data {
  /* float: left; */
  /* text-align: center; */
  /* width: 50%; */
  margin-left: 15%;
  margin-right: 3%;
  font-size: 20pt;
}
/* .home_image {
  margin-left: 10%;
} */
/* #about_title {
  font-size: 40pt;
}
#about_info {
  font-size: 40pt;
} */
.project {
  border: 2px dashed darkgoldenrod;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20pt;
}
.education {
  border: 2px dashed darkgoldenrod;

  font-size: 20pt;
}
/* header {
  width: 100vw;
  text-align: center;
} */
.wrapper {
  display: flex;
  align-items: center;
  margin-top: 5%;
}
.wrapper > div {
  flex: 1;
}
