body {
  background-image: url('../image/paper.gif');
  background-color: #f8f8ff;
  font-family: 'Cabin', sans-serif;
}
/* article {
  width: 80vw;
} */
nav {
  /* background-color: #7fffd4; */
  text-align: center;
}
a:visited {
  color: #cd853f;
}
.center {
  text-align: center;
}
.footer__socials {
  text-align: center;
}
.home__data {
  float: left;
  text-align: right;
  width: 50%;
  font-size: 20pt;
}
.home_image {
  float: right;
  width: 50%;
}
#about_title {
  font-size: 40pt;
}
#about_info {
  font-size: 40pt;
}
.footer__socials {
  font-size: 25pt;
}
/* header {
  width: 100vw;
  text-align: center;
} */
