body {
  background-image: url('http://static.runoob.com/images/mix/paper.gif');
  background-color: #cccccc;
  font-family: 'Sofia', sans-serif;
}
article {
  width: 80vw;
}
nav {
  background-color: #7fffd4;
  text-align: center;
}
a:visited {
  color: pink;
}
